{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<ul>
           {% for orcamento in orcamento %}
           <h2>Clientes</h2>
           <ul>
                <li> {{ orcamento.cliente }} - {{ orcamento.mecanico }} - {{ orcamento.carro }} - {{ orcamento.descricao }} -
                - {{ orcamento.valor}}
                    <div><a href="{% url 'delete_orcamento' orcamento.id %}" class="btn btn-danger">Excluir</a>
                    <a href="{% url 'update_orcamento' orcamento.id %}" class="btn btn-primary">atualizar</a> </div>
                </li>
          {% endfor %}
</ul>

<a class="btn btn-primary" href="{% url 'create_orcamento' %}">Novo</a>
    <a class="btn btn-primary" href="{% url 'create_cliente' %}">Novo Cliente</a>
{% endblock %}